<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
  <nav class="navbar is-success">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Add Blog</strong></a>
            </div>
        </nav>

  <section class="section">
            <div class="container">
    <form method="post" action="">
        {% csrf_token %}

        {{ form | crispy }}

        <div class="field">
            <div class="control">
                <button class="button is-success" style="margin-top:5px;">Submit</button>
            </div>
        </div>
    </form>
            </div>
        </section>

</body>
</html>